@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f6f7f8;
}
i {
    display: none;
}
.size-option {
    transition: all 0.2s ease;
  }
  
  .add-to-cart-modal {
    transition: transform 0.2s ease;
  }
  
  .add-to-cart-modal:hover {
    transform: translateY(-2px);
  }
  
  .remove-from-cart-btn {
    transition: background-color 0.2s ease;
  }
  .color-option {
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.color-option.selected {
    border-color: #1D2B20;
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #a24c5e;
}

.color-option.selected::after {
    content: "✓";
    position: absolute;
    top: -6px;
    right: -6px;
    background: #1D2B20;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
